<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark app-navbar"
      th:fragment="navbar(activePage)"
    >
      <div class="container">
        <a class="navbar-brand" th:href="@{/}"> Cloud Task Manager </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mainNavigation"
          aria-controls="mainNavigation"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavigation">
          <div class="navbar-nav ms-auto gap-lg-1 py-2 py-lg-0">
            <a
              class="nav-link"
              th:classappend="${activePage == 'home'}
                                    ? ' active' : ''"
              th:href="@{/}"
            >
              Home
            </a>

            <a
              class="nav-link"
              th:classappend="${activePage == 'tasks'}
                                    ? ' active' : ''"
              th:href="@{/Tasks/}"
            >
              Tasks
            </a>

            <a
              class="nav-link"
              th:classappend="${activePage == 'create-task'}
                                    ? ' active' : ''"
              th:href="@{/Tasks/AddTask}"
            >
              Create Task
            </a>

            <a
              class="nav-link"
              th:classappend="${activePage == 'login'}
                                    ? ' active' : ''"
              th:href="@{/login}"
            >
              Login
            </a>

            <a
              class="nav-link"
              th:classappend="${activePage == 'register'}
                                    ? ' active' : ''"
              th:href="@{/register/}"
            >
              Register
            </a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
